.container{
    width:800px;
    height:auto;
    margin:5px auto 0 auto;
    position:relative;
}
#paginations{
    position:absolute;
    bottom:-55px;
}
.user-info{
    width:100%;
    height:auto;
}

.user-info label{
    width:120px;
    text-align:right;
    display:inline-block;
}

